/*------------------------------------*\
  #WRAPPERS
\*------------------------------------*/

%section-wrapper {
  padding: $vertical-offset-desktop 2rem;

  @include media('<=tablet') {
    padding: $vertical-offset-tablet 2rem;
  }

  @include media('<=phone') {
    padding: $vertical-offset-phone 2rem;
  }
}

%content-wrapper {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
}

.header,
section,
.footer {
  @extend %section-wrapper;

  & .wrap {
    @extend %content-wrapper;
  }
}

/*------------------------------------*\
  #PAGE HEADER
\*------------------------------------*/

.header {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.logo {
  max-width: 8rem;
}

/*------------------------------------*\
  #SECTION HERO
\*------------------------------------*/
.hero {
  padding-top: 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url(../img/notebook.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 50%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 29.32%; // 465 / 793 * 100 / 2
    z-index: -1;

    @include media('<=tablet') {
      background-position: right -50% top;
      background-size: 60%;
    }

    @include media('<=phone') {
      background-image: none;
    }
  }

  & h1 {
    line-height: 1;
    margin-top: 0;
  }

  &__subtitle {
    font-size: 1.8rem;
    font-weight: 300;
    color: map_get($brand-colors, darker);
  }

  &__desc {
    margin: 6rem 0 7rem;
  }
}

/*------------------------------------*\
  #SECTION DIFFERENTS
\*------------------------------------*/

.differents {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    grid-gap: $gap;
  }

  &__item {
    &__number {
      font-weight: 500;
      font-size: 3.6rem;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        display: block;
        top: 45%;
        left: 6rem;
        width: calc(100% - 8rem);
        border-top: 0.5rem dotted map_get($brand-colors, accent);
      }
    }

    &__title {
      & > span {
        color: map_get($brand-colors, darker);
        font-size: 1.4rem;
        font-weight: 300;
        text-transform: lowercase;
      }
    }

    &--bordered {
      @extend %bordered-style-1;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}

/*------------------------------------*\
  #SECTION MORE
\*------------------------------------*/

.more {
  position: relative;

  & .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $gap * 4;

    & > * {
      grid-column: 2 / 3;

      @include media('<=tablet') {
        grid-column: 2 / 4;
      }
      @include media('<=phone') {
        grid-column: 1 / 4;
        text-align: center;
      }
    }

    @include media('<=tablet') {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &::before {
    content: '';
    position: absolute;
    background-image: url(../img/notebook2.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 50%;
    left: 0;
    top: $vertical-offset-desktop;
    width: 100%;
    height: 100%;
    padding-top: 26.87%; // 416 / 774 * 100 / 2
    z-index: -1;

    @include media('<=tablet') {
      background-position: left -70% top;
      background-size: 60%;
      top: $vertical-offset-tablet;
    }

    @include media('<=phone') {
      background-image: none;
      top: $vertical-offset-phone;
    }
  }

  & h2 {
    margin-top: 0;
  }

  & .form {
    @include media('<=phone') {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/*------------------------------------*\
  #SECTION SERVICES
\*------------------------------------*/

.services {
  & .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: $gap;

    @include media('<=tablet') {
      grid-template-columns: 1fr;
      grid-row-gap: $gap;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    @include media('<=tablet') {
      justify-content: center;
    }

    @include media('<=phone') {
      flex-direction: column;
    }

    & .img__wrap {
      position: relative;
      max-width: 24rem;
      min-width: 24rem;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: -1.5rem;
        left: 1.5rem;
        background-color: map_get($brand-colors, accent);
        z-index: -1;
      }
    }
  }

  &__box {
    @extend %bordered-style-2;
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    gap: $margin-2x;

    & > p {
      font-size: 1.4rem;
    }
  }
}

/*------------------------------------*\
  #SECTION OFFER
\*------------------------------------*/

.offer {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include media('<=tablet') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('<=phone') {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    position: relative;

    @include media('<=tablet') {
      padding: 2rem;

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 2;
      }

      &:nth-child(3) {
        order: 3;
      }

      &:nth-child(4) {
        order: 6;
      }

      &:nth-child(5) {
        order: 5;
      }

      &:nth-child(6) {
        order: 4;
      }

      &:nth-child(7) {
        order: 7;
      }

      &:nth-child(8) {
        order: 8;
      }

      &:nth-child(9) {
        order: 9;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -2;

      @include media('<=tablet') {
        content: '';
        position: absolute;
        width: 100% !important;
        height: 100%;
        z-index: -2;
        border-bottom: 2px dashed $white;
        border-right: none !important;
        border-left: none !important;
        bottom: 4.5rem;
        left: 0 !important;
      }
    }

    &.line {
      &__bottom {
        &::after {
          border-bottom: 2px dashed $white;
          bottom: 4.5rem;
          left: 4.5rem;
        }

        &--first::after {
          width: calc(100% - 4.5rem);
          left: 8.5rem;
        }
        &--last::after {
          width: calc(100% - 4.5rem);
        }
      }

      &__right {
        &::after {
          border-right: 2px dashed $white;
        }
      }

      &__left {
        &::after {
          border-left: 2px dashed $white;
        }
      }
    }

    & > svg {
      color: map_get($brand-colors, accent);
      width: 8rem !important;
      height: auto;
    }

    &--bg {
      padding-top: 0;
      padding-right: 0;

      .bg {
        background-image: url(../img/offer.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 80%;
        display: flex;

        & h3 {
          margin: auto;
          padding: 4rem;
          background-color: rgba(map_get($brand-colors, darkest), 0.8);
          border-radius: $border-radius;
        }
      }
    }
  }

  & h3 {
    margin-bottom: 0;
  }

  & p {
    font-size: 1.4rem;
  }

  &__number {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    font-size: 2.4rem;

    & span {
      position: relative;
      display: flex;
      width: 5rem;
      height: 5rem;
      justify-content: center;
      align-items: center;

      &::before {
        content: '';
        position: absolute;
        border: 2px solid map_get($brand_colors, accent);
        width: 5rem;
        height: 5rem;
        top: 0;
        left: 0;
        border-radius: 50%;
        background-color: map_get($brand_colors, darkest);
        z-index: -1;
      }
    }
  }
}

/*------------------------------------*\
  #SECTION WHY WE
\*------------------------------------*/
.why-we {
  & h2 {
    margin-bottom: 4.5rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    grid-gap: $gap;
  }

  &__item {
    &--bordered {
      @extend %bordered-style-2;
      display: flex;
      flex-direction: column;
      gap: $margin-2x;
    }

    &--last {
      grid-column: 2 / 3;

      @include media('<=tablet') {
        grid-column: 1 / 2;
      }
    }
  }
}

/*------------------------------------*\
  #PAGE FOOTER
\*------------------------------------*/

.footer {
  padding-bottom: 0;
  font-weight: 500;
  font-size: 2.4rem;

  &__grid {
    @extend %bordered-style-2;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0 $gap;

    @include media('<=tablet') {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: $gap;
    }

    @include media('<=phone') {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    & > * {
      margin: 0;
    }
  }

  &__title {
    font-size: 4.8rem;

    @include media('<=tablet') {
      order: 1;
    }

    @include media('<=phone') {
      align-items: center;
    }
  }

  &__nav {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    gap: 1rem;

    @include media('<=tablet') {
      order: 2;
      grid-row: 1 / 4;
    }

    @include media('<=phone') {
      order: 5;
      grid-column: auto;
      grid-row: auto;
      align-items: center;
    }
  }

  &__social {
    gap: 1rem;

    &__grid {
      font-weight: 400;
      display: flex;
      gap: 1rem;

      & > a {
        display: flex;
        width: 4rem;
        height: 4rem;
        font-size: 2.6rem;
        border-radius: 50%;

        @extend %animated;

        &:hover {
          color: $white;
        }

        & > svg {
          margin: auto;
        }

        &.instagram {
          background-color: #c13584;
        }

        &.facebook {
          background-color: #3b5998;
        }

        &.telegram {
          background-color: #0088cc;
        }

        &.viber {
          background-color: #59267c;
        }

        &.whatsapp {
          background-color: #25d366;
        }
      }
    }

    @include media('<=tablet') {
      order: 3;
      grid-column: 1 / 2;
    }

    @include media('<=phone') {
      order: 2;
      align-items: center;
    }
  }

  &__phone {
    gap: 1rem;
    align-items: flex-end;

    & > .btn {
      font-size: 2.4rem;
    }

    @include media('<=tablet') {
      order: 4;
      grid-column: 1 / 2;
      align-items: flex-start;
    }

    @include media('<=phone') {
      order: 3;
      align-items: center;
    }
  }

  &__copyrights {
    font-size: 1.8rem;
    gap: 1rem;

    @include media('<=tablet') {
      order: 6;
      grid-column: 1 / 3;
    }

    @include media('<=phone') {
      order: 6;
      grid-column: auto;
      text-align: center;
    }
  }

  &__address {
    grid-column: 3 / 5;
    justify-content: flex-end;
    text-align: right;

    & svg {
      color: map_get($brand_colors, accent);
    }

    @include media('<=tablet') {
      order: 5;
      grid-column: 1 / 3;
      text-align: left;
    }

    @include media('<=phone') {
      order: 4;
      grid-column: auto;
      text-align: center;
    }
  }
}
